<div
  class="flex w-screen h-screen align-items-center justify-content-center p-5"
>
  <div
    *ngIf="savingsCalculated"
    @fadeInOut
    class="w-screen h-screen flex flex-column align-items-center justify-content-center p-6"
  >
    <div
      class="w-full flex flex-column justify-content-evenly align-items-center h-full"
    >
      <div class="text-center text-6xl">
        With the
        <img
          src="assets/CoolRun_logo.png"
          class="max-w-15rem h-auto coolrun-logo"
        />
        pods, you make savings of
        <span class="font-bold">{{
          fullResult?.standard?.totalFuelCostForJourneyStd -
            fullResult?.coolRun?.totalFuelCostForJourneyCoolRun
            | currency : "GBP"
        }}</span>
        on fuel and
        <span class="font-bold">{{
          truFuelSavingsPerDay | currency : "GBP"
        }}</span>
        on TRU per day, amounting to
        <span class="font-bold">{{
          (fullResult?.standard?.totalFuelCostForJourneyStd -
            fullResult?.coolRun?.totalFuelCostForJourneyCoolRun) *
            250 +
            truFuelSavingsPerYear | currency : "GBP"
        }}</span>
        in savings annually!
      </div>

      <div class="w-full grid p-3">
        <div class="col-4 flex flex-column align-items-center gap-2 p-3">
          <p-chart
            type="bar"
            [data]="emissionRateData"
            height="360"
            class="w-full"
            styleClass="w-full"
          ></p-chart>
          <div class="text-6xl coolrun-green font-semibold m-4">
            {{ totalEmissionRateSavings | number : "1.0" }}%
          </div>
        </div>
        <div class="col-4 flex flex-column align-items-center gap-2 p-3">
          <p-chart
            type="bar"
            [data]="fuelRateData"
            height="360"
            class="w-full"
            styleClass="w-full"
          ></p-chart>
          <div class="text-6xl coolrun-green font-semibold m-4">
            {{ totalFuelRateSavings | number : "1.0" }}%
          </div>
        </div>
        <div class="col-4 flex flex-column align-items-center gap-2 p-3">
          <p-chart
            type="bar"
            [data]="fuelCostData"
            height="360"
            class="w-full"
            styleClass="w-full"
          ></p-chart>
          <div class="text-6xl coolrun-green font-semibold m-4">
            {{ totalFuelCostForJourneySavings | number : "1.0" }}%
          </div>
        </div>
      </div>

      <p-button
        label="Reset"
        styleClass="p-button-danger "
        (click)="reset()"
      ></p-button>
    </div>
  </div>

  <ng-container *ngIf="isLoading">
    <div
      class="w-screen h-scree flex align-items-center justify-content-center"
    >
      <div class="flex flex-column gap-2">
        <p-progressSpinner class="mx-auto"></p-progressSpinner>
        <img src="assets/CoolRun_logo.png" class="w-15rem h-auto" />
      </div>
    </div>
  </ng-container>

  <div
    *ngIf="acceptingInput"
    @fadeInOut
    class="w-screen h-screen flex flex-column align-items-center justify-content-center p-6"
  >
    <div class="w-full m-6 p-3 text-center">
      <div class="text-6xl font-bold">
        What can
        <img
          src="assets/CoolRun_logo.png"
          class="max-w-15rem h-auto coolrun-logo"
        />
        do for your fleet?
      </div>
      <div class="text-xl font-light">Find out the savings our pods offer</div>
    </div>

    <div class="grid input-card m-0 p-0">
      <div class="col flex flex-column align-items-center gap-2">
        <div
          style="height: 225px"
          class="flex align-items-center justify-content-center"
        >
          <p-knob
            [(ngModel)]="payloadPercentage"
            valueTemplate="{value}%"
            [size]="200"
          ></p-knob>
        </div>
        <div class="text-xl font-light">Payload Percentage</div>
      </div>
      <div class="col flex flex-column align-items-center gap-2">
        <div
          style="height: 225px"
          class="flex align-items-center justify-content-center"
        >
          <p-inputNumber
            [(ngModel)]="distanceMilesPerDay"
            [showButtons]="true"
            buttonLayout="vertical"
            spinnerMode="vertical"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            [min]="0"
            suffix=" mi"
          ></p-inputNumber>
        </div>
        <div class="text-xl font-light">Journey Distance per Day</div>
      </div>
    </div>

    <div class="input-card m-3">
      <p-button
        label="Calculate"
        styleClass="p-button m-3 w-full"
        [disabled]="!payloadPercentage || !distanceMilesPerDay"
        (click)="calculate()"
      ></p-button>
    </div>
  </div>
</div>
