<div
  class="flex w-screen h-screen align-items-center justify-content-center p-5"
>
  <div
    *ngIf="savingsCalculated"
    @fadeInOut
    class="w-screen h-screen flex flex-column align-items-center justify-content-center p-6"
  >
    <div
      class="w-full flex flex-column justify-content-evenly align-items-center h-full"
    >
      <div class="text-center flex flex-column gap-2">
        <div class="text-xl font-light coolrun-blue">Best Vehicle to Use</div>
        <div class="text-6xl font-bold coolrun-green">{{ bestVehicle }}</div>
      </div>

      <div class="text-center flex flex-column gap-2">
        <div class="text-xl font-light coolrun-blue">Carbon Credits</div>
        <div class="text-6xl font-bold coolrun-green">
          {{ carbonCredits | number : "1.4" }}
        </div>
      </div>

      <div class="w-full grid">
        <div class="col-4 flex align-items-center justify-content-center">
          <p-chart
            type="bar"
            [data]="emissionRateData"
            [options]="chartOptions"
            height="360"
            width="480"
          ></p-chart>
        </div>
        <div class="col-4 flex align-items-center justify-content-center">
          <p-chart
            type="bar"
            [data]="fuelRateData"
            [options]="chartOptions"
            height="360"
            width="480"
          ></p-chart>
        </div>
        <div class="col-4 flex align-items-center justify-content-center">
          <p-chart
            type="bar"
            [data]="fuelCostData"
            [options]="chartOptions"
            height="360"
            width="480"
          ></p-chart>
        </div>
      </div>

      <p-button
        label="Reset"
        styleClass="p-button-danger "
        (click)="reset()"
      ></p-button>
    </div>
  </div>

  <ng-container *ngIf="isLoading">
    <div
      class="w-screen h-scree flex align-items-center justify-content-center"
    >
      <div class="flex flex-column gap-2">
        <p-progressSpinner class="mx-auto"></p-progressSpinner>
        <img src="assets/CoolRun_logo.png" class="w-15rem h-auto" />
      </div>
    </div>
  </ng-container>

  <div
    *ngIf="acceptingInput"
    @fadeInOut
    class="w-screen h-screen flex flex-column align-items-center justify-content-center p-6"
  >
    <div class="w-full m-6 p-3 text-center">
      <div class="text-6xl font-bold coolrun-blue">
        What CoolRun can do to your fleet
      </div>
      <div class="text-xl font-light coolrun-green">
        Find out the savings offered by our CoolRun pods
      </div>
    </div>

    <div class="grid input-card m-0 p-0">
      <div class="col flex align-items-center justify-content-center">
        <p-knob
          [(ngModel)]="payloadPercentage"
          valueTemplate="{value}%"
          [size]="300"
        ></p-knob>
      </div>
      <div class="col flex align-items-center justify-content-center">
        <p-inputNumber
          [(ngModel)]="distanceMiles"
          [showButtons]="true"
          buttonLayout="vertical"
          spinnerMode="vertical"
          decrementButtonClass="p-button-secondary"
          incrementButtonClass="p-button-secondary"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [min]="0"
          suffix=" mi"
        ></p-inputNumber>
      </div>
    </div>
    <div class="grid input-card m-0 p-0">
      <div class="col flex align-items-center justify-content-center">
        <div class="text-xl font-light">Payload Percentage</div>
      </div>
      <div class="col flex align-items-center justify-content-center">
        <div class="text-xl font-light">Journey Distance</div>
      </div>
    </div>

    <div class="input-card m-3">
      <p-button
        label="Calculate"
        styleClass="p-button m-3 w-full"
        [disabled]="!payloadPercentage || !distanceMiles"
        (click)="calculate()"
      ></p-button>
    </div>
  </div>
</div>
