@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "primeng/resources/themes/arya-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html,
body {
  background-color: var(--surface-ground);
}

*:not(.pi) {
  font-family: "Poppins", sans-serif;
  font-display: swap;
}

:root {
  --coolrun-blue: rgb(17, 98, 144);
  --coolrun-green: rgb(63, 166, 72);
}

.coolrun-blue {
  color: var(--coolrun-blue);
}

.coolrun-green {
  color: var(--coolrun-green);
}

.desktop-view {
  display: flex;
}

.mobile-view {
  display: none;
}

.mobile-container {
  min-height: calc(100vh - 5rem);
}

@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
  }
}
